@import "tailwindcss";

@theme {
  --color-primary-bg: #f5eeea;
  --color-secondary-text: #23243c;
  --color-accent-color: #ccb1ab;
  --color-nav-bg: #23243c;
  --color-nav-border: #4b516b;
  --color-hero-overlay: #000000;
  --color-btn-bg: #ccb1ab;
  --color-btn-hover: #ccb1ab;
  --color-category-border: #9d8f9c;
  --color-category-bg: #ffffff;
  --color-product-border: #9d8f9c;
  --color-footer-bg: #23243c;
  --color-footer-text: #9d8f9c;

  /* Text color */
  ---color-fontColor-1: #ecd1c2;

  /* new theme */
  --color-cream-white: #f5eeea;
  --color-dark-navy: #23243c;
  --color-dark-grayish-blue: #4b516b;
  --color-grayish-lavender: #9d8f9c;
  --color-dusty-rose: #ccb1ab;

  /* text */
  --text-basic: 16px;
}
